<a href="https://colab.research.google.com/github/Satyam810/Machine-learning/blob/main/Day4_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing libraries

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

in collab mostly libraries are already installl if any of is not install any...then  **! + command** to install lib.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/HousePrices.csv')

In [5]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

**df.head()** is used to display the first 5 rows of a DataFrame (df).

!ls - list all the file present in the environment.

In ML Python and R is used. R is stastical based and py is general purpose lang.

PYTHON BAICS

---

In [6]:
print('Machine learning')

Machine learning

 #DATA TYPES IN PYTHON

In [10]:
type("English")

str

In [8]:
type(3)

int

In [14]:
number_1 = input('Enter the first number ')

Enter the first number 10

In [15]:
number_1 = int(input('Enter the first number '))

Enter the first number 10

#changing the data types in python

In [17]:
num=5
print(float(num))

5.0

In [21]:
#complex number
c=1+2j
print(c)
type(c)

(1+2j)

complex

In [22]:
#Cnversion of one dt to other

x=2.0
y=int(x)
print(y)

2

In [23]:
#bool
a=7<3
print(a)
type(a)

False

bool

In [24]:
print("hello"*5)

hellohellohellohellohello

Slicing

In [31]:
my_string="Programming"
print(my_string[1:3])
#values from index i to 3-1 will be sliced

el

In [32]:
#step--every 2d letter is remove
my_string="Programming"
print(my_string[1:10:2])

rgamn



---
#Special Data Types

Objects in py.


1.   Mutable
2.   Immutable

Mutable

*   List
*   Set
*   Dictionary


Immutable

*   int
*   float
*   string
*   bool
*   tuple

| **Category**   | **Can Be Changed (Mutable?)** | **Examples**       | **Notes / Behavior**                             |
| -------------- | ----------------------------- | ------------------ | ------------------------------------------------ |
| **List**       | ✅ Yes                         | `[1, 2, 3]`        | You can add, remove, or modify elements.         |
| **Set**        | ✅ Yes                         | `{1, 2, 3}`        | Unordered, no duplicates; can add/remove items.  |
| **Dictionary** | ✅ Yes                         | `{'a': 1, 'b': 2}` | Keys/values can be added, updated, or deleted.   |
| **int**        | ❌ No                          | `x = 10`           | Any change creates a new object in memory.       |
| **float**      | ❌ No                          | `y = 3.14`         | Similar to int; reassignment makes a new object. |
| **string**     | ❌ No                          | `"hello"`          | Strings cannot be changed after creation.        |
| **bool**       | ❌ No                          | `True`, `False`    | Immutable logical values.                        |
| **tuple**      | ❌ No                          | `(1, 2, 3)`        | Cannot change, but can contain mutable objects.  |

#List []

In [33]:
#list should be include in the square bracket
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [34]:
#lists can have multiple data types
my_list=[1,2,3,4,5,"hello"]
print(my_list)

[1, 2, 3, 4, 5, 'hello']

In [35]:
#add elements to a list
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 'hello', 6]

In [36]:
#print elements of a list using their index
print(my_list[0])
print(my_list[1])

1
2

In [37]:
#list allows duplicate values
my_list=[1,2,3,4,5,5,5]
print(my_list)

[1, 2, 3, 4, 5, 5, 5]

In [38]:
print(len(my_list))

7

In [39]:
# initiating a empty list
list_2=[]
print(list_2)

[]

In [40]:
list_2.append(5)
print(list_2)

[5]

In [42]:
#delete an item in a list
list_2 = [1,2,3,4,5,5,5]
print(list_2)
del list_2[0]
print(list_2)

[1, 2, 3, 4, 5, 5, 5]
[2, 3, 4, 5, 5, 5]

In [43]:
# join two lists
list_3=[1,2,3,4,5]
list_4=[6,7,8,9,10]
list_5=list_3+list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Tuple ()

In [45]:
#tuples also allow multiple data types
#converting list to tuple
my_list=[3,6,9]
my_tuple=tuple(my_list)
print(my_tuple)

#we cannot changed tuple thats why append are not used in this and rest is same as list
#tuples are immutable -> unchanged

#Set {}

In [48]:
my_set={1,2,3}
print(my_set)
type(my_set)

{1, 2, 3}

set

In [49]:
#set does not support indexing.. thats why below error
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [50]:
#convert list to a set
list_5=[1,2,3,4,5]
x=set(list_5)
print(x)

{1, 2, 3, 4, 5}

Set does not allow duplicate value

#Dictionary --> key - value pair

In [54]:
my_dictionary={'name': 'Satyam','age': '20'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Satyam', 'age': '20'}

dict

it also does not allow duplicate value